/**
 * @name OGGIO&SL
 * @author OGGIO
 * @version 1.4
 * @description SL
 * @source https://github.com/DKOGGIO/sas/tree/main/temasl
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css);
@import url('https://raw.githack.com/DKOGGIO/sas/main/temasl/core.css');

:root{
    --background: url('https://i.imgur.com/fNYbttA.png');
    --activetext-colour: white;

    --primary1-colour: rgba(49,132,233,255);
    --primary2-colour: rgb(49,132,233,255);
    --primary3-colour: rgba(48, 44, 44, 0);
    

    --secondary1-colour: rgba(48,44,44);
    --secondary2-colour: rgba(48,44,44);
    --secondary3-colour: rgba(48,44,44);

    --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    
}
  

